{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'stocker/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Sen">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Login</title>
</head>

<body class="form-body">
    <!-- Login form -->
    <div class="form-group">
        <!-- X symbol for returning to index page -->
        <button id="closeBtn" class="close-button"><a class="closelink" href="{%url 'index'%}">&#x2715</a></button>
        <h1 class="title">Login to Stocker</h1>
        <form method="post">
            {% csrf_token %}
            <input type="text" class="form-control" name="username" placeholder="Username" autocomplete="username" required>
            <input type="password" class="form-control" name="password" placeholder="Password" autocomplete="current-password" required>
            <!-- Error displaying -->
            {% for message in messages %}
            <div class="text-danger">{{message}}</div>
            {% endfor %}
            <small>Don't have an account? <a href="{%url 'register'%}">Register.</a></small>
            <br /><br />
            <button type="submit" class="btn btn-primary auth">Login</button>
        </form>

    </div>
</body>

</html>