{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Related Listings</h2>

    {%for listing in rel_listings%}
    {%if listing.active%}
    <div class="listing">
        <h2>Open Listing</h2>
        <h3><a href="/{{listing.id}}">{{listing.title}}</a></h3>
        {%if listing.image%}
        <img src="{{listing.image}}" alt="Image for this listing." height="300">
        {%endif%}
        <h5> {{listing.description}} </h5>
        <h6>Price: {{listing.min_bid}} </h6>
        
    </div>
    {%else%}
    <div class="related_closed">
        <h2>Closed Listing</h2>
        <h3><a href="/{{listing.id}}">{{listing.title}}</a></h3>
        {%if listing.image%}
        <img src="{{listing.image}}" alt="Image for this listing." height="300">
        {%endif%}
        <h5> {{listing.description}} </h5>
        <h6>Price: {{listing.min_bid}} </h6>
        
    </div>
    {%endif%}
    
    {%empty%}
    <div class="closed"><h3>No Related Listings Yet.</h3></div>
 
    {%endfor%}

{% endblock %}