#new-post-div{
    display: none;
}
.edit-window{
    display: none;
}
.single-post{
    border-style: solid;
    border-color: rgb(92, 138, 179);
    border-radius: 10px;
    margin: 20px 10px;
    max-width: 400px;
    padding: 10px 20px;
    background-color: rgba(116, 147, 173, 0.342);
    box-shadow: 3px 5px 5px #555;
}

.edit-post, .savebtn{
    float: right;
    background-color: rgb(65, 65, 65);
   
}
.edit-post:hover, .savebtn:hover{
    background-color: rgb(88, 88, 88);
}

button, .fallowbtn{
    border-radius: 7px;
    background-color: #0a83a8;
    color: white; 
}
button:hover, .fallowbtn:hover{
    background-color: #0d99c4;
}
h2{
    margin-left: 10px;
    
}
#new-post-btn:hover{
    cursor: pointer;
}

.profile-info{
    max-width: 400px;
    margin-left: 10px;
    margin-bottom: 20px;
    text-align: center;
}
#new-post-div{
    max-width: fit-content;
    margin-left: 10px;
    margin-bottom: 20px;
    border-style: double;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: rgb(146, 146, 146);
    box-shadow: 3px 5px 5px #555;
}
#new-post-div input{
    background-color: rgb(77, 158, 77);
    color: white;
    border-radius: 7px;
    border-color: rgb(63, 131, 63);
    padding: 5px 20px;
}
#new-post-div input:hover{
    background-color: rgb(98, 202, 98);
}

.pagination{
    margin-left: 10px;    
}
.step-links a{
    border-style: solid;
    border-color: rgb(78, 78, 78);
    border-radius: 7px;
    background-color: rgb(99, 99, 99);
    font-size: 0.7rem;
    padding: 3px 3px;
    color: white;   
}
.step-links a:hover{
    background-color: rgb(128, 128, 128);
    border-color: rgb(90, 90, 90);
    text-decoration: none;
}